/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */


.scoreboard {
  text-align: center;
  width: 200px;
  padding-top: 80px;
  padding-bottom: 15px;
  font-size: 12 px;
  font-family: Helvetica;
  color: grey;
  margin-top: 20px;
  margin: auto;

}

.board {
  height: 500px;
  width: 500px;
  margin: auto;
  background-color: black;
}
